<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Editando jugador</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css"  rel="stylesheet">
</head>

<body class="container">

<h1>Editando jugador</h1><br>

<form class="col p-3 mb-2 bg-light text-dark" method="post" th:action="'/jugador/'+${jugadorInfo.id}" th:object="${jugadorInfo}">

    <div class="form-group">
        <label for="nombre"> Nombre </label>
        <input type="text" class="form-control form-control-lg" id="nombre" placeholder="Ingrese Nombre..." autocomplete="off" th:field="*{nombre}" required/>
    </div>

    <div class="form-group">
        <label for="apellido"> Apellido </label>
        <input type="text" class="form-control form-control-lg" id="apellido" placeholder="Ingrese Apellido..." autocomplete="off" th:field="*{apellido}" required/>
    </div>

    <div class="form-group">
        <label for="nacionalidad"> Nacionalidad </label>
        <input type="text" class="form-control form-control-lg" id="nacionalidad" placeholder="Ingrese Nacionalidad..." autocomplete="off" th:field="*{nacionalidad}" required/>
    </div>

    <div class="form-group">
        <label for="numero_camiseta"> N° Camiseta </label>
        <input type="number" class="form-control form-control-lg" id="numero_camiseta" min = "1" max = "30" placeholder="Ingrese el numero de la camiseta..." autocomplete="off" th:field="*{numeroCamiseta}" required/>
    </div>

    <div class="form-group">
        <label for="posi">Posición</label>
        <select class="form-control form-control-lg " id="posi" th:field="*{posi}" required>
            <option hidden value="">Seleccione la posicion del jugador</option>
            <option
                    th:each="posi : ${T(cl.ciisa.evaluacion.voleibol.evaluacion3voleibol.modelo.entity.Posicion).values()}"
                    th:text="${posi}"
                    th:value="${posi}">
            </option>
        </select>
    </div>

    <input id="activeFlag" type="hidden" th:field="*{active}">

    <div>
        <input class="btn btn-info" type="submit" value="Modificar" onclick="document.getElementById('activeFlag').value='true'">
        <input class="btn btn-danger" type="submit" value="Eliminar" onclick="document.getElementById('activeFlag').value='false'">
    </div>

</form>
</body>
</html>